@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
.tangerine{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";